/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #151515;
    --dark-blue: #091f32;
    --mid-blue: #006fdf;
    --light-blue: #00a3e7;
    --gold: #FCA311;
    --green: #00beac;
    --dark-grey: #2e2e2e;
    --mid-grey: #8d8d8d;
    --grey: #E5E5E5;
    --white: #FFFFFF;

}

body {
    background-color: var(--black);
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: var(--grey);
    min-height:100vh;
}

h2 {
    color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search Bar */

.search {
    width: 30vw;
}

.search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search label {
    display: none;
}

.search input, .search button {
    height: 40px; 
    border-radius: 15px;
    border: none;
}

.search input {
    text-indent: 10px;
    width: 75%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search button {
    padding: 0 10px;
    background: var(--light-blue);
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    width: 25%;
    transition: ease-in-out .2s;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search button:hover {
    background-color: var(--mid-blue);
}

.search .recommended {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--mid-grey);
    margin-top: 10px;
}

.search .recommended button {
    background: transparent;
    font-weight: 400;
    color: var(--grey);
    width: auto;
    padding: 0;
    margin-right: 10px;
    height: auto;
}

.search .recommended button:hover {
    color: var(--mid-blue);
    }

.search .recommended p {
    margin-right: 10px;
}

/* Repository Card */

#repositories {
    margin-top: 30px;
}

.repository-card {
    background:var(--dark-grey);
    width: 60vw;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 25px;
    align-items: center;
}

.repository-card h2 {
    text-transform: capitalize;
}

.repo-details {
    width: 100%;
}

.repo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    color: var(--mid-grey);
    font-size: 14px;
}

.description {
    margin: 15px 0;
    max-height: 100px;
    letter-spacing: 1px;
    font-size: 14px;
    border-radius: 15px;
}

.repo-bottom {
    display: flex;
    flex-direction: row;
}

.stats {
    display: flex;
}

.stars i {
    color:var(--gold);
}

.forks i {
    color: var(--green);
    margin-left: 15px;
}

.languages span {
    font-size: 14px;
}

.languages i {
    color: var(--light-blue);
    margin-left: 15px;
}

.view-commits {
    margin-left: auto;
}

.view-commits button {
    background: var(--light-blue) ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    text-align: center;
    color: var(--white);
    padding: 2px 7px;
    border: none;
}

.view-commits button:hover {
    background: var(--mid-blue);
    cursor: pointer;
}

.view-commits i {
    font-size: 21px;
}